@import "tailwindcss";

/* Custom Scrollbar for Bento Style */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #C1C1C4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A0A0A5;
}